body {
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.015rem;
}

.wrapper {
  margin: 100px auto;
  max-width: 1000px;
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(179, 193, 219, 0.5);

  @media (max-width: 767px) {
    width: calc(100vw - 100px);
  }

  @media (max-width: 575px) {
    width: calc(100vw - 20px);
  }
}

.content {
  padding: 1.25rem;

  @media (max-width: 575px) {
    padding: 0.625rem;
  }
}
