.header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5625rem;
}

.title {
  font-size: 1.875rem;
  margin-right: 2.1875rem;

  @media (max-width: 767px) {
    font-size: 1.25rem;
    margin-right: 0.9375rem;
  }
}
